<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Water Quality Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
    <div class="container">
     <h1>Water Quality Analysis</h1>
     <p>Welcome! This system predicts the water quality category using important water parameters like pH, DO, and Salinity.</p>
     <a href="/predict_form">Start Prediction</a>
    </div>
</body>
</html>
